* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
    margin: 20px 0px;
}

p {
    margin: 0;
    padding: 0;
}

.sample {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: var(--bs-border-radius);
}

.bg-colors {
    background: url(bg-colors-02.jpg) center no-repeat;
}

.text-shadow {
    text-shadow: #fff 0px 0px 4px;
}

.tooltip-inner {
    background: #a4e3a4;
    color: #042404;
}

.tooltip-arrow {
    filter: brightness(0) saturate(100%) invert(88%) sepia(20%) saturate(634%) hue-rotate(62deg) brightness(97%) contrast(84%);
}